@import "../../global.scss";
.portfolio {
    background-color: rgb(48, 48, 48);
    display: flex;
    flex-direction: column;
    align-items: center;
    

    h1 {
        font-size: 50px;
        color: $highlight;
    }

    ul{
        margin: 10px;
        
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        color: white;
        padding-bottom: 10px;
        

        li{
            font-size: 15px;
            margin-right: 50px;
            padding: 7px;
            border-radius: 10px;
            cursor: pointer;
            background-color: $darkBlue;
            display: flex;
            flex-direction: column;
            align-items: center;
            a{
                text-decoration: none;
                color: $highlight;
                &:hover {
                    font-size: 20px;
                    transition: 0.5s;
                }
            }

        }
    }
    .container{
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding-bottom: 40px;

        .item{
            width: 350px;
            height: 350px;
            border-radius: 20px;
            padding: 10px 20px;
            border: 2px solid $highlight;
            margin: 10px 20px;
            align-items: center;
            justify-content: center;
            position: relative;
            color: white;
            text-shadow: 2px 2px #2f1550;
            transition: 0.5s ease;
            background-color: $highlight;
            z-index: 3;
            
            // h3{
                
            //     position: absolute;
            //     align-items: center;
            //     justify-content: center;
            //     font-size: 20px;
            //     background-color: $highlight;
                
            // }
            
            
            
        }
        #item1{
            background-image: url("../../assets/project-images/travel.map.png");
            background-size: 350px 350px;
        }

        #item2{
            background-image: url("../../assets/project-images/tutor-question.png");
            background-size: 350px 350px;
        }
        #item3{
            background-image: url("../../assets/project-images/dailyplanner.png");
            background-size: 350px 350px;
        }
        #item4{
            background-image: url("../../assets/project-images/forcast-master.png");
            background-size: 350px 350px;
        }
        #item5{
            background-image: url("../../assets/project-images/notetaker-2.png");
            background-size: 350px 350px;
        }
        #item6{
            background-image: url("../../assets/project-images/codequiz.png");
            background-size: 350px 350px;
        }
    } 
}