.app{
    height: 100vh;

    .sections{
        width: 100%;
        height: calc(100vh - 70px);
        background-color: mediumpurple;
        position: relative;
        top: 70px;
        &::-webkit-scrollbar {display:none;};
        // scroll-behavior: smooth; //when clicking links smoothly scrolls instead of jump
        // scrollbar-width: none; //hides scroll bar for firefox
        // &::-webkit-scrollbar{
        //     width: 12px;
        // }
        // //style the track
        // &::-webkit-scrollbar-track {
        //     -webkit-box-shadow: inset 0 0 6px rgba(56, 13, 70, 0.3); 
        //     -webkit-border-radius: 10px;
        //     border-radius: 10px;
        // }
        // //style the handle of the scrollbar
        // &::-webkit-scrollbar-thumb {
        //     -webkit-box-shadow: inset 0 0 6px rgba(170, 37, 37, 0.3); 
        //     -webkit-border-radius: 10px;
        //     border-radius: 10px;
        // }
        // &::-webkit-scrollbar-thumb:window-inactive {
        //     background: rgba(45, 21, 77, 0.6);
        }

        > * {
            width: 100vw;
            height: calc(100vh -70px);
            
        }
    }
